extends ../layouts/default

block css
	link(href="/styles/css/archive.min.css", rel="stylesheet")

block content
	div#container
		div.archive
			h3 Volume I, Issue I
			br
			<div data-configid="16665528/12238088" style="width:650px; height:502px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>