extends ../layouts/default

block css
	link(href="/styles/css/archive.min.css", rel="stylesheet")

block content
	div#container
		div.archive
			h3 No issues have been published yet.
			br
			h5 Check back later!

			//- TODO: Add Archive model and render Issu embeds here