extends ../layouts/default

block css
	link(href="/styles/css/art.min.css", rel="stylesheet")

block content
	div#container
		div.submissions
			each submission in art_submissions
				a.submission(href='art/' + submission.slug)
					span.submission__volume Volume #{submission.volumeAssignment.number}
					div.submission__details
						h3.submission__title= submission.title
						h5.submission__author= submission.author.full
					img(src=submission.thumbnailSrc).submission__thumbnail