extends ../layouts/default

block css
	link(href="/styles/css/contribute.min.css", rel="stylesheet")

block js
	script(src='/js/contribute.js')

block content
	div#container
		div.submission-form
			h2 Submit Your Work for Publication
			p
				| <i>47 Pages</i> welcomes submissions that are well-written, witty, self-aware, original and previously
				| unpublished. We are most excited about pieces that elicit reaction (make readers or viewers laugh, cry,
				| gasp, think, etc). Whether your work is a one of art or literature, we encourage you to submit it if you
				| believe it deserves a spot in our publication!
			p
				| Prior to contributing one or more pieces for publication, please be sure that each complies with our
				|  #[span(onclick='FSP.Contribute.show_submission_guidelines()', class='link') submission guidelines].
			form(action='submit', method='POST', enctype='multipart/form-data').submission-form__form
				table
					tr
						td
							h4 Your Name
							h6
								| Your name will never be revealed to the editing staff until your piece is published -
								| all requests are catalogued anonymously by a computer.

						td
							input(type='text', name='author')
					tr
						td
							h4 Contact Email
							h6 You will only be contacted if edits are suggested.
						td
							input(type='text', name='contactEmail')
					tr
						td
							h4 Submission Type
						td
							| Literture #[input(type='radio', name='submissionType', value='literature', checked)]
							| &nbsp;&nbsp; Art #[input(type='radio', name='submissionType', value='art')]
					tr
						td
							h4 Submission
							h6
								| Do not include your name in the uploaded document itself! Files must be in a
								|  #[span(onclick='FSP.Contribute.show_submission_guidelines()', class='link') valid document or image format].

						td
							input(type='file', name='submission')
					tr.submission-form__form--art-specific.invisible
						td
							h4 Link (Optional)
							h6
								| If you are submitting multiple pieces collectively, consider uploading them to a
								| third-party site instead and submitting the public URL. You cannot upload a .zip
								| collection.
						td
							input(type="text", name="originalLink")
					tr
						td
							h4 Title
						td
							input(type='text', name='title')
					tr.submission-form__form--art-specific.invisible
						td
							h4 Technical Details
							h6 Provide the medium, year of creation, and the title.
						td
							textarea(name='technicalDetails', cols='40', rows='5')
					tr
						td
							h4 Willing To Edit?
							h6 Are you open to discussing changes to your piece before it is published?
						td
							| Yes #[input(type='radio', name='willingToEdit', value='true')]
							| &nbsp;&nbsp; No #[input(type='radio', name='willingToEdit', value='false', checked)]
					tr.submission-form__form--editing-options.invisible
						td
							h4 Willing To Meet in Person?
							h6 To discuss edits, if necessary, would you be willing to meet in person with the editors?
						td
							| Yes #[input(type='radio', name='willingToMeetInPerson', value='true')]
							| &nbsp;&nbsp; No #[input(type='radio', name='willingToMeetInPerson', value='false', checked)]
					tr.submission-form__form--literature-specific
						td
							h4 Artwork Pairing
							h6
								| If you want to request a piece of artwork to be paired with your piece, or have
								| knowledge of something that has been submitted that you would like to accompany your
								| piece, provide those details here.
						td
							textarea(name='artworkPairing', cols='40', rows='5')
					tr
						td
							h4 Additional Notes (Optional)
							h6
								| What inspired you to write this piece? What were you trying to convey? Are these notes
								| something you would want published alongside your piece?
						td
							textarea(name='additionalNotes', cols='40', rows='5')
					tr
						td
						td
							input(type='button', value='Submit', onclick='FSP.Contribute.submit_submission()')
		div.submission-guidelines
			h2 Guidelines, Policies and Permissions

			h3 General Policies
			p <i>47 Pages</i> is open to all interested students of the Claremont Colleges.
			p
				| <i>47 Pages</i> promises not to discriminate on the basis of race, religion, color, national or
				| ethnic origin, sex, gender identity and expression, sexual orientation, class, marital status or
				| disability in terms of its membership or the pieces it considers for publication.

			h3 Submission Guidelines
			p
				| We are currently accepting submissions only from students of the five Claremont Colleges (Pomona,
				| Scripps, Claremont McKenna, Harvey Mudd, and Pitzer). We will not accept submissions that are:
				| excessively profane, personal attacks, potentially harmful or threatening to one or more persons.
				| All submissions must be original, previously unpublished (with few exceptions) works of the contributor.
				| Additional guidelines for specific media include:
				ul
					li
						| <b>Prose and Poetry:</b> Upward word limit of 5,000 preferred, but not mandatory. Longer pieces
						| will not be immediately discounted. Accepted file formats: .doc, .docx, .txt, .pages.
					li
						| <b>Photography, 2D Digital and Traditional Art, 3D Art</b>: Files must be no larger than 15MB. If
						| your submission exceeds this limit, consider cropping it or uploading it to a third-party site
						| like Google Drive or Dropbox and submitting the public link instead. Accepted file formats: .png,
						| .jpg, .jpeg, .tiff, .gif, .svg.
					li
						| <b>Comics:</b> Both digital and traditional comics and strips accepted. However, legibility is
						| critical: if handwritten text is difficult to decipher, we will contact you requesting a
						| re-submission.
			p
				| Each submission should include a short (1-3 sentences) contributor biography. If submitting multiple
				| pieces, you do not need to include more than one biography. Anonymous pieces will not be accepted;
				| if you prefer to write under a pseudonym, please include that in place of your name. Additionally, art
				| pieces should include a short caption and an optional list of mediums used. We do accept simultaneous
				| submissions, but please let us know immediately if your work has been accepted elsewhere. We ask that
				| you refrain from submitting more than 10 pieces per semester.
			p
				| <i>47 Pages</i> reserves the right to decline submissions or refuse/defer publication for any reason
				| that complies with our non-discrimination policy. If you have questions or require clarification on any
				| aspect of the submission process, please email
				|  #[a(href='mailto:editor@47pages.org') editor@47pages.org].

			h3 Permissions and Copyright
			p
				| All content published in the <i>47 Pages</i> literary magazine is the original and (unless otherwise
				| stated) previously unpublished work of the author or artist to which it is attributed. Without exception,
				| the materials comprising <i>47 Pages</i> are published with the explicit permission of their creators and
				| cannot be republished or reproduced in any way, shape or form without prior author or artist consent.
				| Contributors retain creative rights to original content submissions.
			p
				| <i>47 Pages</i> reserves the right to edit written works for spelling, punctuation or grammar as needed.
				| By submitting your work to the magazine, you affirm that the material is indeed your own original work
				| and you consent to allow <i>47 Pages</i> to edit, publish and reprint the material at our discretion.
				| <i>47 Pages</i> is not responsible for any issues of plagiarism or copyright infringement that may occur
				| due to contributor misattribution, deliberate or otherwise.

	div.fade-background