extends ../layouts/default

block css
	link(href="/styles/css/contact.min.css", rel="stylesheet")

block content
	div#container
		div.contact
			h2 Contact
			p
				| The <i>47 Pages</i> editorial meetings are open to any interested students and are a great way to start
				| getting involved. If you want to see the type of pieces we’re interested in or what the staff
				| responsibilities look like in action, you can keep up with editorial meeting dates by
				|  #[a(href='https://www.facebook.com/47Pages') following us on Facebook].
			p
				| To apply for a position, or see the available openings, visit the #[a(href='/staff') staff page].
			p
				| For general magazine queries, contact Madeleine Minke, the Editor-in-Chief, at
				|  #[a(href='mailto:editor@47pages.org') editor@47pages.org].
			p
				| To report a problem with the website or the digital publication, contact Matt Dahl, the webmaster, at
				|  #[a(href='mailto:admin@47pages.org') admin@47pages.org].
