extends ../layouts/default

block content
	div.container
		div.welcome__card
			h2 Welcome
			p.welcome__card--description.bold
				| We are the literary magazine of the Claremont Colleges.
			p.welcome__card--description
				| We publish everything from photography to micro-fiction; poetry to intricate doodles;
				| personal narratives to wood carvings; cartoons to longer fiction pieces.
			p.welcome__card--description
				| Our mission is simple: we want to showcase the creativity that exists across all five campuses.
				| We’re looking to compile selections of your best art and writing in a bi-monthly magazine, to be
				| published and distributed across the campuses and made available online.
		div.welcome__card
			h2 Contribute
			p.welcome__card--contribute
				| If you are interested in contributing to the magazine, please consider
				|  #[a(href='contribute') submitting your original work] or
				|  #[a(href='staff') joining our staff]. Our editorial meetings are open to any interested students
				| and are a great way to start getting involved. If you want to see the type of pieces we’re interested
				| in or what the staff responsibilities look like in action, you can keep up with editorial meeting dates by
				|  #[a(href='https://www.facebook.com/47Pages') following us on Facebook].
			p.welcome__card--contribute
				| If you have any questions or want to know more about any aspect of the magazine, feel free to
				| email our Editor-in-Chief at
				|  #[a(href='mailto:editor@47pages.org') editor@47pages.org]. We can’t wait to share your talent
				| with the 5C community!