extends ../layouts/default

block css
	link(href="/styles/css/literature.min.css", rel="stylesheet")

block content
	div#container
		div.submissions
			if literature_submissions.length
				each submission in literature_submissions
					a.submission(href='literature/' + submission.slug)
						span.submission__volume Volume #{submission.volumeAssignment.number}
						div.submission__details
							h3.submission__title= submission.title
							h5.submission__author= submission.author.full
							h5.submission__teaser !{submission.teaser}
			else
				div.no-submission
					h3 Check out the #[a(href='archive') archive]!