extends ../layouts/default

block css
	link(href="/styles/css/literature_submission.min.css", rel="stylesheet")

block content
	div#container
		div.submission
			if literature_submission
				h2.submission__title= literature_submission.title
				h4.submission__author= literature_submission.author.full
					&nbsp;&mdash;&nbsp;
				h4.submission__volume Volume #{literature_submission.volumeAssignment.number}
				h5.submission__body !{literature_submission.editedPiece}
			else
				h2 Sorry, you have followed an invalid URL.
				br
				h5 Perhaps this submission has been moved or deleted.