extends ../layouts/default

block css
	link(href="/styles/css/staff.min.css", rel="stylesheet")

block content
	div#container
		div.meet-the-staff
			h2 Meet the Staff
			hr.clear
			//- FOUNDERS
			div.meet-the-staff__person
				h4 Madeleine Minke (PO '17)
				h5 Editor-in-Chief, Co-Founder
				p
					| Outside of literature, Madeleine enjoys knitting, playing with her dogs, and browsing through food blogs.
					| Her favorite authors are James Baldwin, Gertrude Stein, and Charles Dickens. Originally from New York,
					| Madeleine plans to return to the East Coast after her time at Pomona College to pursue a career in
					| publishing.
			div.meet-the-staff__person
				h4 Feather Flores (PO '17)
				h5 Managing Editor for Production, Co-Founder
				p
					| Feather is an English major and has written or designed for more than five publications. Most of the
					| time she can be found hiding amid the greenest corners of the 5Cs, singing for no reason or heavily
					| annotating her favorite novels. The semicolon is her favorite punctuation mark.
			hr.clear
			//- SENIOR LITERATURE
			div.meet-the-staff__person
				h4 Mikayla Reine (PO ‘17)
				h5 Senior Literature Editor
				p
					| Mikayla is a ballerina-turned-academic who never mastered the art of sitting still. She spends most
					| of her time scurrying from place to place with a book in one hand and a cup of coffee in the other,
					| and believes the only good incentives to sit are a gourmet meal and a massage.
			div.meet-the-staff__person
				h4 Kian Vesteinsson (PO ‘17)
				h5 Senior Literature Editor
				p
					| Kian spends most of his leisure time complaining about dining hall food. A Politics major, his
					| hobbies include deciding on new minors to pursue (usually on a weekly basis) and trying to make
					| friends with geckos. His favorite writing-related song is Vampire Weekend’s Oxford Comma.
			hr.clear
			//- SENIOR ART
			div.meet-the-staff__person
				h4 Sana Khan (PO ‘17)
				h5 Senior Art Editor
				p
			hr.clear
			//- JUNIOR LITERATURE
			div.meet-the-staff__person
				h4 Harry Choi (PO ‘17)
				h5 Junior Literature Editor
				p
					| Harry is a freshman at Pomona College who loves beauty and challenge, especially both in one.
					| He also loves spacing out and romanticizing, often only to realize that it was actually his
					| dreams that built his reality.
			div.meet-the-staff__person
				h4 Ian Dangla (PO ‘17)
				h5 Junior Literature Editor
				p
					| Ian is a totally undecided wishy-washy liberal arts student who recognizes that he knows nothing
					| about the world or his place in it. What he does know is that literature is probably the greatest
					| tool in that quest.
			div.meet-the-staff__person
				h4 Emma Fredgant (PO ‘17)
				h5 Junior Literature Editor
				p
					| Emma is a freshman at Pomona College, and is a potential English major. She has edited various
					| publications for four years and has been working with creative writing ever since dabbling in
					| heavy-handed meta-fiction. She is thrilled to be a part of this publication and will happily
					| pore over submissions all day long. Emma loves comedies with a dramatic edge, unusually-flavored
					| sodas, and grammar.
			div.meet-the-staff__person
				h4 Alana Friedman (PO ‘16)
				h5 Junior Literature Editor
				p
					| Alana is an English major at Pomona College who has dabbled in languages, linguistics, and aquatics.
					| She is often found reading or sleeping (more often a combination of the two). She plans to make a
					| career out of the written word, either in publishing or the literary side of film.
			hr.clear
			//- JUNIOR ART
			div.meet-the-staff__person
				h4 Yuki Numata (PO ‘16)
				h5 Junior Art Editor
				p
					| Yuki is an International Relations major at Pomona College who dreams of traveling around the
					| world one day. She has a penchant for pretty things and enjoys documenting them through photography,
					| watercolors, and words. Her spirit animal is a cat.
			div.meet-the-staff__person
				h4 Walton Zhang (PO ‘16)
				h5 Junior Art Editor
				p
					| Walton comes from Shenzhen, China. He enjoys walking and drinking water.
			hr.clear
			//- ADMIN
			div.meet-the-staff__person
				h4 Xiangyu Ma (CMC ‘17)
				h5 Marketing Manager
				p
			div.meet-the-staff__person
				h4 Matt Dahl (PO ‘17)
				h5 Webmaster
				p
			hr.clear
			//- STAFF
			div.meet-the-staff__staff-category
				h4 Designers
				ul
					li Genevieve Agar (PO ‘17)
					li Elizabeth Sun (PO ‘17)
					li Stephanie Sun (PO ‘17)
			div.meet-the-staff__staff-category
				h4 Editorial Board
				ul
					li Abigail Daum (SC ‘17)
					li Kyle Jensen (PO ‘17)
					li Helen Jun (PO ‘17)
					li Kelli Kokame (PO ‘17)
			div.meet-the-staff__staff-category
				h4 General Staff
				ul
					li Ben Jardine (PZ ‘17)
					li Sunny Jeong (PO ‘17)
					li Doug Lewis (PZ ‘17)
					li Eliza Lewis (SC ‘17)
					li Yerika Reyes (PO ‘17)
					li Kathie Tang (PO ‘17)
					li Maia Welbel (PO ‘17)

		div.join-the-staff
			h2 Join the Staff
			p
				| The <i>47 Pages</i> production team is composed of passionate, enthusiastic students who have a genuine
				| desire to create a final product that does justice to the submissions we receive. We are looking to
				| hire students who are committed, innovative, and as excited as we are about producing the magazine.
			p
				| If this sounds like you, please fill out our
				|  #[a(href='https://docs.google.com/forms/d/1nho2usQiqLNXwY0XpOYDruFuhLlclKWyYXf2DHjxplE/viewform') hiring form]!
				|  No previous literary or journalistic experience is required. Staff positions are currently unpaid, but
				| rewarding. You will be contacted for an interview within a week of submitting your application.