lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.DS_Store

.env

# Compiled LESS
*.min.css

# Submission uploads
private/submissions

# Preserve directory layout
!private/submissions/art/original/.blank
!private/submissions/art/edited/.blank
!private/submissions/literature/edited/.blank
