lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.DS_Store

.env

# Compiled LESS
*.min.css

# Submission uploads
submissions

# Preserve directory layout
!submissions/art/original/.blank
!submissions/art/edited/.blank
!submissions/literature/edited/.blank
