@import "../base.less";

.submission {
	width: @CONTAINER_WIDTH;
	min-width: @SUBMISSION_MIN_WIDTH;
	margin-left: auto;
	margin-right: auto;

	.submission__header {
		padding: 20px; // Exception to @CONTAINER_PADDING
		background-color: @COLOR_WHITE09;

		.submission__title {
			margin-bottom: 10px;
		}

		.submission__author {
			float: left;
		}
	}

	.submission__body {
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		padding: 20px; // Exception to @CONTAINER_PADDING
		background-color: @COLOR_WHITE09;

		.submission__image {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: @SUBMISSION_MIN_WIDTH - (2 * @CONTAINER_PADDING);
			border: 1px solid black;
		}
	}
}