@import "../base.less";

.submissions {
	width: @CONTAINER_WIDTH;
	min-width: @SUBMISSION_MIN_WIDTH;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.submission {
	width: 100%;
	min-width: @SUBMISSION_MIN_WIDTH;
	float: left;
	padding: @CONTAINER_PADDING;
	background-color: @COLOR_WHITE09;
	box-shadow: @CONTAINER_SHADOW;

	&:hover {
		background-color: rgb(255, 255, 255);
		cursor: pointer;
	}

	.submission__volume {
		width: 153px;
		background-color: black;
		font-family: centaur;
		font-size: 36px;
		color: white;
		padding: 30px 10px;
		float: left;
	}

	.submission__details {
		width: 75%;
		padding-left: 30px;
		float: left;

		.submission__author {
			font-weight: bold;
		}

		.submission__teaser, .submission__author {
			margin-top: 8px;
		}
	}
}