include ../mixins/flash-messages

html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title 47 Pages
		link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")

		//- site.less is compiled by Grunt to be served as minified CSS
		link(href="/styles/site.min.css", rel="stylesheet")

		//- In-page styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific head tags by extending the head block
		block head

	body
		//- HEADER
		include ../includes/header

		//- BODY
		#body
			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages
			+flash-messages(messages)

			//- Contains the body of the template's content
			block content

		//- FOOTER
		include ../includes/footer
