footer
	//- JS
	script(src='/js/lib/jquery/jquery-1.11.0.min.js')

	//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
	//- which generate links to edit content for users who can access Keystone
	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')

	//- Include template-specific javascript files by extending the js block
	block js