header
	div.header__logo: a(href='/'): img(src='../images/masthead.png')
	ul.header__navbar
		li(class=(page == 'literature' ? 'active' : null)): a(href='/literature')= 'Literature'
		li(class=(page == 'art' ? 'active' : null)): a(href='/art')= 'Art'
		li(class=(page == 'archive' ? 'active' : null)): a(href='/archive')= 'Archive'
	ul.header__navbar.float-right
		li(class=(page == 'contribute' ? 'active' : null)): a(href='/contribute')= 'Contribute'
		li(class=(page == 'staff' ? 'active' : null)): a(href='/staff')= 'Staff'
		li(class=(page == 'contact' ? 'active' : null)): a(href='/contact')= 'Contact'