p Hello,
p
	| A new submission has arrived, titled "#{submission_data.title}"!
	| You can view this piece by logging into <a href="http://47pages.org/keystone">Keystone</a>.
p Best,
p Your Friendly Anonymous Robot