p Hi #{submission_data.author},
p
	| <i>47 Pages</i> has received your submission "#{submission_data.title}".
	| Thank you for your interest in contributing to the magazine; we look forward
	| to reviewing your work and will be in touch if you indicated that would be
	| agreeable.
p Best,
p Your Friendly Anonymous Robot